@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IList<KnockAPI.Models.WorkProvider>>
@{
    Layout = "Views/Layout/Base.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Work Providers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/workprovider/new" class="btn btn-default">New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-8">Work Providers Name</th>
                        <th class="col-md-8">Location</th>
                        <th class="col-md-8">Required Workforce</th>
                        <th class="col-md-8">Contact1</th>
                        <th class="col-md-8">Contact2</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-md-8">@item.FirstName @item.LastName</td>
                            <td class="col-md-8">@item.LocationKey</td>
                            <td class="col-md-8">@item.RequiredWorkforce</td>
                            <td class="col-md-8">@item.ContactNo1</td>
                            <td class="col-md-8">@item.ContactNo2</td>
                            <td class="col-md-2">
                                <a href="/workprovider/update/@item.WorkProviderId" class="btn btn-xs btn-primary">Edit</a>
                                <a href="/workprovider/delete/@item.WorkProviderId" data-method="delete" class="btn btn-xs btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="/" class="btn btn-default">Back</a>
        </div>
    </div>
</div>
